@tailwind base;
@tailwind components;
@tailwind utilities;


input {
    @apply border border-black
}

.myInput {
    @apply border-2 border-black
}

input.error {
    @apply bg-red-500
}
input.valid {
    @apply bg-green-500
}

button,
.btn {
    @apply bg-sky-400  rounded-xl px-2 py-1 disabled:opacity-30
}

.comp {
    border: 1px solid blue;
    padding: 5px; margin: 5px;
}
